.panel-title {
	font-family: "Lato", sans-serif;
    font-size: 14px;
}
.panel-heading a:hover, a:focus {
    text-decoration: none;
}
.panel-heading span i{
	font-size: 15px;
    margin-top: 3px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;    
}
.panel-heading .active i{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);    
}
.product-detail .panel{
	border: none;
}
