/* navbar */
.navbar-inverse .navbar-toggle {
    border-color: #000;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #000;
}

/* shopping bag mobile */
.cart-count{
    position: absolute;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: orange;
    padding-top: 1px;	    
	font-size: 9px;
	text-align: center;
}
@media screen and (min-width: 992px) {
	.navbar-cart{
		display: none;
	}
	.cart-count{
	    color: white;
	    margin-top: -42px;
	    margin-left: 57px
	}
}
@media screen and (max-width: 991px) {
	.navbar-brand{
	    padding-top: 1px;
	    position: fixed;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.cart-count{
	    margin-top: -30px;
	    margin-left: 20px;
	}
}

/* menu */
ul.dropdown-user{
	min-width: 240px !important;
	width: 240px !important;
	li {
		padding: 10px;
		background-color: transparent;
		&:hover {
			background-color: $color1;
			a {
				background-color: $color1;
				color: $white;
			}
		}
	}
}
.dropdown-cart {
	// margin-right: 80px;
	float: right !important;
	> ul {
		width: 280px;
	}
}

.navbar-bottom {
	margin: 0 auto;
	height:25px; 
	width:20px; 
}