// color 1 36D7B7 green
// color 1 FF9999 pink
// color 2 2E3233
// color 3 2E3233
// color 4 F2F2F2
$color1: #000;
$color2: #dedede;
$color3: #f8afad;

@import "bootstrap";
@import "variable";
@import "nav";
@import "breadcrumb";
@import "productgrid";
@import "filter_product";
@import "search_product";
@import "form";
@import "quantity_control";
@import "checkout_step";
@import "owl_carousel";
@import "control_owl_carousel";
@import "border_divider";
@import "loading";
@import "easyzoom";
@import "footer";
@import "spacing";

html, body {
	height: 90%;
}
body {
	font-weight: 400;
	letter-spacing: 0.04em;
}
.wrapper {
	min-height: 100%;
	&:after {
		content: "";
		display: block;
	}
}
.cursor-pointer{
	cursor:pointer;
}

.gift-value.hide{
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}

.info-point .title {
	color : #eee;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	cursor: default;
	padding: 7px;
}

.info-point .value {
	color : #222222;
	background-color: #eee;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	cursor: default;	
	padding: 7px;
}

.home{
	padding-top: 50px !important;
}

.background-white{
	background-color: white;
}

.home-tab{
	color: #777 !important;
	font-size: 16px;
}

.home-tab:focus{
	text-decoration: none;
}

.home-tab-active{
	color: black !important;
	border-bottom: black 1px solid !important;
	pointer-events: none;
    cursor: default;
}


.btn-banner{
	min-width: 70px;
}