.sprite {
	background: url("../../images/sprite.png") no-repeat;
}
@mixin sprite-large($position) {
	width: 20px;
	height: 56px;
	display: inline-block;
	background-position: $position;
	zoom: 0.8;
	-moz-transform: scale(0.8);
	-moz-transform-origin: 0 0;
}

@mixin sprite-medium($position) {
	width: 20px;
	height: 26px;
	display: inline-block;
	background-position: $position;
}

// for navbar
.man-white {
	@include sprite-large(0 0px);
}
.man-orange {
	@include sprite-large(0 -112px);
}
.woman-white {
	@include sprite-large(0 -56px);
}
.woman-orange {
	@include sprite-large(0 -168px);
}
// navbar shortcut
.man-black-medium {
	@include sprite-medium(0 -224px);
}
.woman-black-medium {
	@include sprite-medium(0 -250px);
}
.home-black-medium {
	@include sprite-medium(0 -276px);
}
.profile-black-medium {
	@include sprite-medium(0 -302px);
}
.signin-black-medium {
	@include sprite-medium(0 -328px);
}
.signout-black-medium {
	@include sprite-medium(0 -354px);
}